h1 {
  text-align: center;
}
p {
  text-align: left;
}
#calc-buttons {
  background-color: balck;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.display {
  length: 200px;
  width: 100%;
}
