h1 {
  text-align: center;
}
p {
  text-align: center;
}
#calc-buttons {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  length: 700px;
  width: 500px;
}
.display {
  length: 200px;
  width: 100%;
}
