h1 {
  text-align: center;
}
p {
  text-align: center;
}
#calc-buttons {
  background-color: balck;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#plus {
  color: orange;
}
#plus:hover {
  color: #FFD580;
}
#minus {
  color: orange;
}
#left-par {
  color: orange;
}
